# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.StreamReady-backend.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Angular\Backend\StreamReady-backend\.idea\.idea.StreamReady-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
